[run]
data_file = /tmp/columbo_coverage
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
fail_under = 90
