services:

  # a fully loaded development environment to test new code
  devbox: &devbox
    build:
      dockerfile: ./docker/devbox.dockerfile
      context: .
    image: "columbo/devbox"
    volumes:
      - ./:/app

  # run all the tests and linting locally
  # - ruff will format code to address issues
  check:
    <<: *devbox
    command: ["hatch", "run", "check"]

  # test the documentation examples to make sure they can be run with Python
  validateDocExamples:
    <<: *devbox
    command: ["hatch", "run", "test-docs-examples"]

  # generate and serve the project documentation locally
  mkdocs: &mkdocs
    <<: *devbox
    entrypoint: "mkdocs"
    ports:
      - "8000:8000"
    command: ["hatch", "run", "docs:serve"]

  mike:
    <<: *mkdocs
    entrypoint: ["hatch", "run", "docs:mike"]
