bandit==1.7.0
black==21.8b0
bump2version==1.0.1
flake8==3.9.2
isort==5.9.3
mike==1.1.1
markdown-include==0.6.0
mkdocs==1.2.2
mkdocs-material==7.2.5
mkdocs-minify-plugin==0.4.0
mkdocs-redirects==1.0.3
mkdocstrings==0.15.2
mypy==0.910
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
pdbpp
./util/mkdocstrings_patch_type_aliases
