# The project dependencies & environments are managed by hatch.
# uv is used as the installer for faster package installation.
# This requirements file can be used to do the initial install.
hatch==1.16.3
uv==0.9.27
